<div class="breadcrumbs">
                
    <!-- Process url into proper format for crumbs -->
    {% assign trimmedUrl = page.url %}
    {% if page.url | slice: 0 == "/" %}
        {% capture trimmedUrl %}{{trimmedUrl | remove_first: "/"}}{% endcapture %}
    {% endif %}

    {% assign pageUrlSplit = page.url | split: '/' %}
    {% if pageUrlSplit.last == "index.html" %}
        {% capture trimmedUrl %}{{trimmedUrl | replace: "/index.html"}}{% endcapture %}
    {% endif %}              
     <!-- Process url into proper format for crumbs -->

    {% assign crumbs = trimmedUrl | split: '/' %}
    {% if crumbs.size > 1 %}
        {% assign previousCrumbs = '' %}
        {% for crumb in crumbs %} 
			{% if forloop.last == true %}
				<span>{{crumb}}</span> 
			{% else %}   
				<a href="{{ site.github.url }}{{previousCrumbs}}/{{crumb}}">{{crumb}}</a> / 
			{% endif %}
            {% capture previousCrumbs %}{{previousCrumbs}}/{{crumb}}{% endcapture %}
        {% endfor %}
    {% endif %}
</div>
