@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*Animation color is $testdroidcom-blue*/
@-webkit-keyframes border-pulsate {
	0% 	 { border-color: rgba(77, 179, 204, 0); 
			box-shadow: 5px 0 5px 0 rgba(77, 179, 204, 0);}
    50%  { border-color: rgba(77, 179, 204, 1); 
			box-shadow: 5px 0 5px 0 rgba(77, 179, 204, 1);}
    100% { border-color: rgba(77, 179, 204, 0); 
			box-shadow: 5px 0 5px 0 rgba(77, 179, 204, 0);}
}

@keyframes border-pulsate {
	0% 	 { border-color: rgba(77, 179, 204, 0); 
			box-shadow: 5px 0 5px 0 rgba(77, 179, 204, 0);}
    50%  { border-color: rgba(77, 179, 204, 1); 
			box-shadow: 5px 0 5px 0 rgba(77, 179, 204, 1);}
    100% { border-color: rgba(77, 179, 204, 0); 
			box-shadow: 5px 0 5px 0 rgba(77, 179, 204, 0);}
}

@-webkit-keyframes border-pulsate-right {
    0%   { border-color: rgba(77, 179, 204, 0); 
            box-shadow: -5px 0 5px 0 rgba(77, 179, 204, 0);}
    50%  { border-color: rgba(77, 179, 204, 1); 
            box-shadow: -5px 0 5px 0 rgba(77, 179, 204, 1);}
    100% { border-color: rgba(77, 179, 204, 0); 
            box-shadow: -5px 0 5px 0 rgba(77, 179, 204, 0);}
}

@keyframes border-pulsate-right {
    0%   { border-color: rgba(77, 179, 204, 0); 
            box-shadow: -5px 0 5px 0 rgba(77, 179, 204, 0);}
    50%  { border-color: rgba(77, 179, 204, 1); 
            box-shadow: -5px 0 5px 0 rgba(77, 179, 204, 1);}
    100% { border-color: rgba(77, 179, 204, 0); 
            box-shadow: -5px 0 5px 0 rgba(77, 179, 204, 0);}
}