$night: #1C2228;
$grey: #ccc;
$white: #fff;
$silver: #efefef;
$light-grey: #dedede;
$green: #47a447;
$blue: #4cbdf5;
$orange: #F8951D;

/*Not certain about these constants yet*/
$default-text-color: #555555;
$footer-text-color: #9ba0a5;
$footer-border-color: rgba(255,255,255,.12);
$section-background-color: $grey;
$content-background-color: $white;
$content-border-color: $light-grey;
$link-blue: #4DB3CC;
$testdroidcom-grey: #535353;
$search-text: $white;
$navigation-background: #f8f8f8;
$testdroidcom-blue: #4db3cc;
