$body-min-width: 776px;

$header-height: 38px;
$site-search-width: 250px;

$footer-height: 38px;
$footer-copyright-font-size: 12px;

$section-padding-top-and-bottom: 0px;/*20px;*/
$section-padding-left-and-right: 0px;/*40px;*/
$wrapper-padding: 0px;/*20px;*/

$navigation-width: 300px;
$content-padding-top-bottom: 10px;
$content-padding-left-right: 20px;
$navigation-element-height: 34px;
$navigation-border-right: 1px;
$navigation-level-padding: 14px;
$navigation-2nd-lvl-font-size: 14px;
$navigation-3rd-lvl-font-size: 12px;

/* section element margin-bottom, and ul padding-left */
$default-content-spacing: 20px;

$title-padding: 10px;
$breadcrumbs-margin: 10px;

$default-font-size: 16px;
$default-font-family: 'Open Sans', sans-serif, Arial, Helvetica;
