$header-height: 61px;
$footer-height: 76px;

$default-font-size: 16px;
$footer-link-font-size: 14px;
$footer-copyright-font-size: 12px;
$default-font-family: 'Open Sans', sans-serif, Arial, Helvetica;
$navigation-width: 300px;
$section-padding-top-and-bottom: 20px;
$section-padding-left-and-right: 40px;
$navigation-and-content-padding: 10px;
$wrapper-padding: 20px;
$navigation-element-height: 34px;
$breadcrumbs-margin: 10px;
$body-min-width: 776px;
$title-padding: 10px;
$navigation-border-right: 8px;
$navigation-level-padding: 20px;