    footer{
        bottom: 0;
        min-height: $footer-height;
        text-align: center;
        color: $footer-text-color;
        line-height: 30px;
        
        a{
            color: $footer-text-color;
            text-decoration: none;
            &:hover{
                color: $white;
            }
        }
        
        #footer-wrapper{
            max-width: 792px;
            margin: 0 auto;
            padding: 0 70px;
            #bottom-box{
                font-size: $footer-copyright-font-size;
                padding-top: 6px;
                overflow: auto;
                
                i{
                    font-size: 24px;
                }
                
            }
        }
    }