    header{       
        height: $header-height;
               
        a{
            margin: 4px 20px 0 20px;
            display: inline-block;
        }
        img{
            max-height: 40px;
            margin-top: 4px;
        }
        
        #site-search{
            width: $site-search-width;
            line-height: 16px;
            padding: 3px 5px;
            margin: 6px 20px 0px 0px;
            background-color: $testdroidcom-grey;
            border-color: $testdroidcom-grey;
            color: $search-text;
        }
    }
    