    .navigation-control-placeholder{
        position: relative;
        height: calc(100% - 1px);
        left: 0 !important;
        /*width: $navigation-width;*/
        .navigation-control{
            position: absolute;
            width: 16px;
            top: 50%;

            /*click through fix*/
            right: 17px;
            height: 0px;
            width: 0px;
            z-index: 1;
            &:after{
                font-family: "FontAwesome";
                content: "\f07e";
            }
        }
        &:hover{
            .navigation-control{
                display: block !important;
            }
        }
        /* override jquery UI default resize handle width */
        .ui-resizable-e{
            /*width: 12px;
            right: 0;*/
            width: 20px;
            right: -10px;
        }
        &.resizing{
			.navigation{
				border-right: $navigation-border-right solid $blue;
				box-shadow: 5px 0 5px 0 $blue;
				-webkit-animation: border-pulsate 4s infinite;
				animation: border-pulsate 4s infinite;
			}
        }
    }

    #resizable-navigation {
        .navigation {
            nav {
                box-sizing: border-box;
            }
            li {
                padding: 0;
                a {
                    padding-left: 5px; 
                    color: #acd036;
                    text-transform: uppercase;
                    width: calc(100% - (34px));
                }

                ul li a:only-child {
                    padding-left: 44px;
                    text-transform: capitalize;
                }
                &:hover {
                    background-color: #252525;
                }
            }
            .navigation-icon, .navigation-icon-placeholder {
                padding: 0 5px 0 10px;
                color: #acd036;
                font-family: "FontAwesome";
                width: 14px;
                text-align: center;
            }
            .navigation-closed .navigation-icon:after  {
                content: "\f105";
            }
            .navigation-open >.navigation-icon:after {
                content: "\f107"
            }
        }

        .navigation-open, .active {
            background-color: #252525;
            > ul {
                background-color: #363636;
            }
        }
    }

    .navigation, .content{              
        display: block;
    }
    .navigation{

        width: calc(100% - 8px);    
        /* 1px fix for border movement */
        height: calc(100% - 1px);
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;

        nav{
            border-right: $navigation-border-right solid $content-border-color;
            min-height: 100%;
            background-color: $navigation-background;
        }

        ul, li{
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        li{  
            /* FF has problems with line-height and element size being same 
            overcome by taking borders into account*/
            min-height: calc(#{$navigation-element-height} + 2px);
            
            line-height: $navigation-element-height; 
            
            padding-left: $navigation-level-padding;  

            a{
                color: $default-text-color;
                display: inline-block;                      
                width: calc(100% - (#{$navigation-level-padding}));

                &:hover{
                    /*background-color: $silver;*/
                    font-weight: bold;
                }
            }

            &.active{
                > a{
                    font-weight: bold;
                }
            }

            &:last-child{
                border-bottom: none;
            }

            /* Different levels*/
            ul li{
                padding-left: $navigation-level-padding;

                a:only-child{
                    padding-left: $navigation-level-padding;
                }
                a{
                    font-size: $navigation-2nd-lvl-font-size;
                }
            }

            ul li ul li{
                padding-left: $navigation-level-padding;
                a{
                    font-size: $navigation-3rd-lvl-font-size;
                }
            }
        }
        /* Navigation icon and visibility handling */
        .navigation-closed, .navigation-open{
            span{
                cursor: pointer;
                width: $navigation-level-padding;
                text-align: center;
                &:after{
                    font-family: "FontAwesome";
                }
            }
        }
        .navigation-closed{
            > span{
                &:after{
                    content: "\f0da";
                }
            }
            > ul{
                display: none;
            }
        }
        .navigation-open{
            > span{
                &:after{
                    content: "\f0d7";
                }
            }
        }
        .navigation-icon-placeholder{
            width: $navigation-level-padding;
            height: $navigation-element-height;
        }
    }
