---
---
@import "colors";

@import "constants";

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

html, body{
    font-size: $default-font-size;
    font-family: $default-font-family;
    color: $default-text-color;
    min-width: $body-min-width;
    
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    
    h1, h2, h3, h4, h5, h6{
        margin: 0;
        color: $default-text-color;
    }
    
    a{
        color: $link-blue;
    }
}

body{
    /*                      COMBINED    STYLES  START                         */
    header, footer{
        position: static;
        width: 100%;
        float: none;
        background-color: $night;
    }
    /*                      COMBINED    STYLES  END                           */
    
    @import "header";
    
    @import "footer";
    
    @import "content";
    
    /*                      GENERAL STYLES                                    */
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
}